{% extends "base.html" %}

{% block topbar %}{% endblock %}
{% block bottom_nav %}{% endblock %}

{% block content %}
<div style="padding: 30px; text-align:center;">

    <h2>Login</h2>

    <form method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="filter-btn">Login</button>
    </form>

    <p>
        Don't have an account?
        <a href="{% url 'account_signup' %}">Register</a>
    </p>

</div>
{% endblock %}