{% extends "base.html" %}
{% load i18n %}

{% block header %}{% endblock %}
{% block filter_button %}{% endblock %}
{% block bottom_nav %}{% endblock %}

{% block title %}
    {% trans "Change Password" %}
{% endblock %}

{% block content %}
<div class="auth-page">
    <div class="auth-card">

        <h2>{% trans "Password Changed" %}</h2>

        <p>
            {% trans "Your password is now changed." %}
        </p>

        <a href="{% url 'account_login' %}" class="filter-btn">
            {% trans "Sign In" %}
        </a>

    </div>
</div>
{% endblock %}