{% extends "base.html" %}
{% load static %}
{% block filter_button %}{% endblock %}
{% block title %}Likes{% endblock %}

{% block content %}

<div class="likes-page">

    <div class="liked-carousel">
        {% for swipe in liked_users %}
            <div class="liked-avatar-card">
                {% if swipe.to_user.profile.profile_image %}
                    <img
                        src="{{ swipe.to_user.profile.profile_image.url|cut:'http:'|replace:'/upload/|/upload/f_auto,q_auto,w_150,h_150,c_thumb,g_face/' }}"
                        loading="lazy"
                        class="liked-avatar-img"
                        alt="{{ swipe.to_user.profile.display_name|default:swipe.to_user.username }}"
                    >
                {% else %}
                    <img
                        src="{% static 'images/default.webp' %}"
                        loading="lazy"
                        class="liked-avatar-img"
                        alt="Default profile picture"
                    >
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="likes-header">
        <h2>Likes</h2>
    </div>


    {% if can_post %}
        <form method="post" class="like-post-form">
            {% csrf_token %}

            {{ form.body }}

            <button type="submit" class="filter-btn">
                Post
            </button>
        </form>

    {% endif %}

    {% for post in posts %}
        <div class="like-post-card">

            <div class="like-post-left">
                {% if post.author.profile.profile_image %}
                    <img src="{{ post.author.profile.profile_image.url|cut:'http:'|replace:'/upload/|/upload/f_auto,q_auto,w_150,h_150,c_thumb,g_face/' }}"
                        loading="lazy"
                        class="like-post-avatar"
                        alt="{{ post.author.profile.display_name|default:post.author.username }}"
                    >
                {% else %}
                    <img src="{% static 'images/default.webp' %}"
                        loading="lazy"
                        class="like-post-avatar"
                        alt="Default profile picture"
                    >
                {% endif %}

                <div class="thread-line"></div>
            </div>

            <div class="like-post-content">
                <div class="like-post-header">
                    <span class="like-post-author">
                        {{ post.author.profile.display_name|default:post.author.username }}
                    </span>

                    <span class="like-post-time">
                        {{ post.created_on|timesince }} ago
                    </span>
                </div>

                <p class="like-post-body">
                    {{ post.body }}
                </p>

                <div class="like-post-actions">
                    <form method="post"
                        action="{% url 'toggle_like_post' post.id %}"
                        class="heart-form">
                        
                        {% csrf_token %}

                        <button 
                            type="submit"
                            class="heart-btn 
                            {% if request.user in post.liked_by.all %}
                            liked
                            {% endif %}"
                        >
                            ♥
                        </button>
                    </form>
                    <button
                        type="button"
                        class="comment-toggle-btn"
                        onclick="
                            const section = this.closest('.like-post-content')
                            .querySelector('.comments-section');

                            if (section.style.display === 'block') {
                                section.style.display = 'none';
                            } else {
                                section.style.display = 'block';
                            }
                        "
                    >
                        💬
                    </button>
                    {% if post.author == request.user %}
                        <form method="post"
                            action="{% url 'delete_like_post' post.id %}">
                            {% csrf_token %}
                            <button type="submit" class="post-action-btn">
                                🗑
                            </button>
                        </form>
                    {% endif %}

                    <a href="{% url 'share_like_post' post.id %}"
                    class="post-action-btn">
                        ➤
                    </a>
                </div>

                <div class="like-post-meta">
                    {{ post.comments.count }} replies · {{ post.liked_by.count }} likes
                </div>
                
                <div class="comments-section">

                    <div class="post-comments">
                        {% for comment in post.comments.all %}
                            <p>
                                <strong>{{ comment.author.username }}</strong>
                                {{ comment.body }}
                            </p>
                        {% endfor %}
                    </div>

                    <form method="post" class="comment-form">
                        {% csrf_token %}

                        <input type="hidden"
                            name="post_id"
                            value="{{ post.id }}">

                        {{ comment_form.body }}

                        <button type="submit"
                                name="comment_submit">
                            Reply
                        </button>
                    </form>

                </div>

            </div>

        </div>
    {% empty %}
        <p>No posts yet.</p>
    {% endfor %}

</div>

{% endblock %}