# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Django stuff
db.sqlite3

# Environment variables
.env

# VS Code
.vscode/

env.py
node_modules/

# Django collected static files
staticfiles/


# Generated map data
map-data/
map-tiles/
*.osm.pbf
*.mbtiles
*.pmtiles