{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}Encounters{% endblock %}

{% block content %}

<div id="filter-box" class="filter-box">
    <form method="get" class="profile-filter-form">
        <select name="gender">
            <option value="">Everyone</option>
            <option value="male">Men</option>
            <option value="female">Women</option>
        </select>

        <input type="number" name="min_age" placeholder="Min age">
        <input type="number" name="max_age" placeholder="Max age">

        <button type="submit" class="filter-btn">
            Apply
        </button>
    </form>
</div>


<div class="profile-detail">

    {% if profile %}

        {% if profile.profile_image and profile.profile_image.url %}
            <img
                src="{{ profile.profile_image.url|cut:'http:'|replace:'/upload/|/upload/f_auto,q_auto,w_400,h_400,c_fill,g_face/' }}"
                loading="lazy"
                class="profile-img"
                alt="{{ profile.display_name|default:profile.user.username }}"
            >
        {% else %}
            <img 
                src="{% static 'images/default.webp' %}" 
                loading="lazy"
                class="profile-img" 
                alt="{{ profile.display_name|default:profile.user.username }}"
            >
        {% endif %}

        <h2>{{ profile.display_name|default:profile.user.username }}</h2>

        {% if profile.age %}
            <p>Age: {{ profile.age }}</p>
        {% endif %}

        <p>{{ profile.bio }}</p>

        <div class="profile-actions">

            <a href="{% url 'swipe_user' profile.user.id 'pass' %}"
               class="filter-btn">
                Pass ❌
            </a>

            <a href="{% url 'swipe_user' profile.user.id 'like' %}"
               class="filter-btn">
                Like ❤️
            </a>

        </div>

    {% else %}

        <h2>No more profiles</h2>
        <p>You have viewed everyone for now.</p>

    {% endif %}

</div>

<script>
    const filterBtn = document.getElementById("toggle-filter-btn");
    const filterBox = document.getElementById("filter-box");

    if (filterBtn && filterBox) {
        filterBtn.addEventListener("click", function(e) {
            e.preventDefault();

            if (filterBox.style.display === "block") {
                filterBox.style.display = "none";
            } else {
                filterBox.style.display = "block";
            }
        });
    }
</script>
{% endblock %}