{% extends "base.html" %}
{% load static %}
{% block filter_button %}{% endblock %}
{% block title %}My Profile{% endblock %}

{% block content %}
<div class="top-profile-actions">
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <button type="submit" class="filter-btn">Logout</button>
        </form>
    {% endif %}
</div>
<div class="profile-detail">
    
    {% if profile.profile_image and profile.profile_image.url %}
        <img src="{{ profile.profile_image.url }}" class="profile-img">
    {% else %}
        <img
            src="{% static 'images/default.webp' %}"
            class="profile-img"
        >
    {% endif %}
    <div class="profile-info">
        <h2>{{ profile.display_name|default:profile.user.username }}</h2>

        {% if profile.age %}
            <p>Age: {{ profile.age }}</p>
        {% endif %}

        <p>{{ profile.bio }}</p>

    </div>
    <div class="profile-actions">

        <a href="{% url 'edit_profile' %}"
           class="filter-btn">

            Edit Profile

        </a>

        <a href="{% url 'profile_list' %}"
           class="filter-btn">

            Browse Profiles

        </a>

    </div>

</div>
{% endblock %}