{% extends "base.html" %}

{% load static %}
{% load custom_filters %}
{% block filter_button %}{% endblock %}
{% block title %}Profile Detail{% endblock %}

{% block content %}
<div class="profile-detail">

    {% if profile.profile_image and profile.profile_image.url %}
        <img
            src="{{ profile.profile_image.url|cut:'http:'|replace:'/upload/|/upload/f_auto,q_auto,w_400,h_400,c_fill,g_face/' }}"
            class="profile-img"
            alt="{{ profile.display_name|default:profile.user.username }}"
        >
    {% else %}
        <img
            src="{% static 'images/default.webp' %}"
            class="profile-img"
            alt="{{ profile.display_name|default:profile.user.username }}"
        >
    {% endif %}

    <h2>{{ profile.display_name|default:profile.user.username }}</h2>

    {% if profile.age %}
        <p>Age: {{ profile.age }}</p>
    {% endif %}

    <p>{{ profile.bio }}</p>

    <div class="profile-actions">

        <a href="{% url 'swipe_user' profile.user.id 'like' %}"
            class="filter-btn">
            Like ❤️
        </a>

        <a href="{% url 'swipe_user' profile.user.id 'pass' %}"
            class="filter-btn">
            Pass ❌
        </a>

        <a href="{% url 'start_chat' profile.user.id %}"
            class="filter-btn">
            Message
        </a>

        <a href="{% url 'profile_list' %}"
            class="filter-btn">

            Back to Nearby

        </a>
    </div>

</div>
{% endblock %}