{% extends "base.html" %}

{% block title %}Nearby{% endblock %}

{% block content %}
<div class="profile-grid">

    {% for profile in profiles %}
        <div class="profile-card">


            {% if profile.profile_image %}
                <img src="{{ profile.profile_image.url }}" class="profile-img">
            {% else %}
                <p>No image uploaded</p>
            {% endif %}


            <p>{{ profile.display_name }}, {{ profile.age }}</p>
        </div>
    {% endfor %}

</div>
{% endblock %}