{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Create a Ride</h1>

    <form
        method="POST"
        enctype="multipart/form-data"
    >
        {% csrf_token %}

        {{ form.as_p }}

        <button
            type="submit"
            class="filter-btn"
        >
            Create Ride
        </button>
    </form>

    <a
        href="{% url 'rides:driver_ride_list' %}"
        class="filter-btn"
    >
        Back to Driver Plans
    </a>
</div>
{% endblock %}
