{% load static %}

{% url "account_login" as login_url %}
{% url "account_signup" as signup_url %}
{% url "account_logout" as logout_url %}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TwoHobby{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body id="app-body">

<div class="app-wrapper">

    <!-- Top Bar -->
    {% block topbar %}
        <header class="top-bar">
            <h1>{% block header %}TwoHobby{% endblock %}</h1>
            {% block filter_button %}
            <button id="toggle-filter-btn" class="filter-btn">
                Filter
            </button>
            {% endblock %}
            <button id="theme-toggle" class="theme-toggle-btn" type="button">
                🌙
            </button>
        </header>
    {% endblock %}

    <!-- Main Content -->
    {% block page_wrapper %}
        <main class="content">
            {% block content %}
            {% endblock %}
        </main>
    {% endblock %}
    <!-- Bottom Navigation -->
    {% block bottom_nav %}
        <nav class="bottom-nav">
            <a href="{% url 'profile_list' %}"
                class="nav-link
                {% if request.resolver_match.url_name == 'profile_list' %}
                    active
                {% endif %}">
                <span>📍</span>
                <small>Nearby</small>
            </a>

            <a href="{% url 'encounters' %}"
                class="nav-link
                {% if request.resolver_match.url_name == 'encounters' %}
                    active
                {% endif %}">
                <span>💞</span>
                <small>Encounters</small>
            </a>

            <a href="{% url 'likes' %}"
                class="nav-link
                {% if request.resolver_match.url_name == 'likes' %}
                    active
                {% endif %}">
                <span>❤</span>
                <small>Likes</small>
            </a>

            <a href="{% url 'chat_list' %}"
                class="nav-link
                {% if request.resolver_match.url_name == 'chat_list' %}
                    active
                {% endif %}">
                <span>💬</span>
                <small>Chats</small>
            </a>

            <a href="{% url 'my_profile' %}"
                class="nav-link
                {% if request.resolver_match.url_name == 'my_profile' %}
                    active
                {% endif %}">
                <span>👤</span>
                <small>Profile</small>
            </a>
        </nav>
    {% endblock %}
</div>
<script src="{% static 'js/theme.js' %}"></script>
</body>
</html>